# For authentication and communication with SmugMug.
bottle>=0.12.13
rauth>=0.7.3
requests>=2.13.0
requests-oauthlib>=0.7.0

# To make ANSI escape character sequences work on Windows.
colorama>=0.3.9; platform_system=="Windows"

# For parsing metadata from local files:
hachoir>=3.0

# To query JSON content with `ls --query`:
jsonpath-ng >= 1.5.3
